body {
    background-color: lightblue;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    height: 10rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}